<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        html, body {
            padding: 0px;
            margin: 0px;
            font-family: monospace;
            font-size: 12px;
        }
    </style>
</head>
<body>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>